blockquote {
  border-left: 3px solid #6cb4da;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

/* List styles */
ul,
ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

ul li p,
ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
