@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --height-13: 3.25rem;
  --height-4_5: 1.125rem;

  --width-13: 3.25rem;
  --width-39: 9.75rem;
  --width-120: 30rem;
  --width-160: 40rem;
  --width-4_5: 1.125rem;

  --container-90: 22.5rem;
  --container-145: 36.25rem;
  --container-12xl: 120rem;

  --padding-13: 3.25rem;
  --padding-18: 4.5rem;
  --padding-34: 8.5rem;
  --padding-42: 10.5rem;

  --margin-13: 3.25rem;
  --margin-34: 8.5rem;

  --text-2_5xl: 1.75rem;
  --text-3xl: 2rem;

  --gap-13: 3.25rem;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary-100: rgba(var(--primary-100));
  --color-primary-500: rgba(var(--primary-500));
  --color-primary-600: rgba(var(--primary-600));
  --color-primary-800: rgba(var(--primary-800));
  --color-primary-900: rgba(var(--primary-900));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-grey-100: rgba(var(--grey-100));
  --color-grey-200: rgba(var(--grey-200));
  --color-grey-300: rgba(var(--grey-300));
  --color-grey-400: rgba(var(--grey-400));
  --color-grey-500: rgba(var(--grey-500));
  --color-grey-600: rgba(var(--grey-600));
  --color-grey-700: rgba(var(--grey-700));
  --color-grey-800: rgba(var(--grey-800));

  --color-light-grey: rgba(var(--light-grey));

  --color-green-100: rgba(var(--green-100));

  --color-notified: rgba(var(--notified));

  --color-blue-50: rgba(var(--blue-50));

  --color-error-500: rgba(var(--error-500));
  
  --color-red: rgba(var(--red));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-6xl: calc(var(--radius) * 6);
  --radius-5xl: calc(var(--radius) * 5);
  --radius-4xl: calc(var(--radius) * 4);
  --radius-3xl: calc(var(--radius) * 3);
  --radius-2xl: calc(var(--radius) * 2);
  --radius-xl: calc(var(--radius) * 1.5);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --shadow-soft: 0 8px 24px rgba(42, 50, 52, 0.08);

  --aspect-5\/4: 1.25;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    /* Colors */
    --primary-100: 229 243 255; /* primary outline button hover bg color */
    --primary-500: 108 180 218; /* primary button bg color */
    --primary-600: 93 165 203; /* primary button hover bg color */
    --primary-800: 124 142 158; /* placeholder font color */
    --primary-900: 37 66 93; /* font color */

    /* Grey Colors */
    --grey-100: 252 252 252; /* disabled input bg color */
    --grey-200: 251 248 247; /* card bg color */
    --grey-300: 247 247 247; /* disabled input border color */
    --grey-400: 231 230 230; /* input border color */
    --grey-500: 153 165 176;
    --grey-600: 188 196 204; /* disabled input font color */
    --grey-700: 171 176 197; /* radio button border color */
    --grey-800: 124 142 158; /* placeholder font color */

    --light-grey: 231, 230, 230;

    /* Green Colors */
    --green-100: 9 189 48; /* success color */

    --notified: 255, 60, 60;

    --blue-50: 249, 251, 253;

    --red: 255, 60, 60;

    /* Red Colors */
    --error-500: 236, 138, 174; /* error color */

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 201, 60%, 64%;
    --ring-900: var(--primary-900);

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 201, 60%, 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    @apply h-full w-full;
  }
  body.no-scroll {
    overflow: hidden;
  }
}
